/* light theme */
/************ Default Css ************/

button:hover {
  background-color: #ccc;
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/* Transferred from App.css */
body {
  background-color: #ffffff !important;
  color: #000000 !important;
}

/************ Navbar Css ************/

button {
  background-color: transparent;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  color: #000 !important;
}

nav.navbar.scrolled {
  background-color: #ffffff;
}

.social-icon a {
  background: rgba(0, 0, 0, 0.1);
}

.social-icon a::before {
  background-color: #000000;
}

.navbar-text button {
  color: #000;
  background-color: transparent;
}

.navbar-text button::before {
  background-color: #000;
}

.navbar-text button:hover {
  color: #ffffff;
}

nav.navbar .navbar-toggler-icon {
  background-image: none;
  border-bottom: 2px solid #000;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #000;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  background-color: #000;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  background-color: #000;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  background-color: #000;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}
.navbar-text button {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
}

/************ Banner Css ************/
.banner {
  background-image: url("./assets/img/banner-bg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Added a subtle background color */
}

.banner .tagline {
  background: linear-gradient(
    90.21deg,
    rgba(85, 201, 131, 0.3) -5.91%,
    rgba(181, 208, 66, 0.3) 111.58%
  );
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.banner p {
  color: #484848;
}

.banner button {
  color: #000;
}

/************ skill Css ************/
.skill {
  background-color: rgba(255, 255, 255, 0.8); /* Reduced opacity */
}
.skill-bx {
  background: linear-gradient(
    127deg,
    rgba(181, 208, 66, 0.8) 8%,
    rgba(248, 253, 255, 0.8) 39%,
    rgba(249, 254, 255, 0.8) 58%,
    rgba(204, 215, 171, 0.8) 88%
  );
}
.skill p {
  color: #484848;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/************ Projects Css ************/
.project {
  background-image: url("./assets/img/color-sharp.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Added a subtle background color */
}

.project p {
  color: #484848;
}

.project .nav.nav-pills {
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  color: #000;
}

.project .nav.nav-pills .nav-link::before {
  background: linear-gradient(90.21deg, #55c983 -5.91%, #b5d042 111.58%);
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(0, 0, 0, 1);
}

.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0 55px 55px 0;
}
.proj-imgbx::before {
  background: linear-gradient(90.21deg, #55c983 -5.91%, #b5d042 111.58%);
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}
/************ Projects Css ************/
.contact {
  background: linear-gradient(
    90.21deg,
    rgba(85, 201, 131, 0.5) -5.91%,
    rgba(181, 208, 66, 0.5) 111.58%
  );
}
.contact form input,
.contact form textarea {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #000;
}
.contact form input:focus,
.contact form textarea:focus {
  background: rgba(0, 0, 0, 1);
  color: #ffffff;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  color: #000;
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #ffffff;
  opacity: 0.8;
}
.contact form button {
  background-color: #000;
  color: #fff;
}
.contact form button:hover {
  color: #000;
}
.contact form button::before {
  background: #ffffff;
}

/************ Footer Css ************/
.footer {
  background-image: url("./assets/img/footer-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Added a subtle background color */
}

.newsletter-bx {
  background: #000000;
  color: #ffffff;
}

.new-email-bx {
  background: #000;
}

.new-email-bx::before {
  background: linear-gradient(90.21deg, #55c983 -5.91%, #b5d042 111.58%);
}
.new-email-bx::after {
  background: #000;
}
.new-email-bx input {
  background: transparent;
  color: #ffffff;
}
.new-email-bx button {
  background: linear-gradient(90.21deg, #55c983 -5.91%, #b5d042 111.58%);
  color: #000;
}
.footer p {
  color: #484848;
}

/************ Testimonial Css ************/
.sticky-note {
  color: #000;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
